.idea
composer/
.lock
*.log
thinkphp/library/think/console/command/Make.php
.user.ini
thinkphp/library/think/console/command/optimize/Config.php

application/database.php
runtime/
application/database.php
public/upload/
public/uploads/
public/public/
idea/
.idea/*
._*
.idea/workspace.xml
