<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {include file="common/tdk"}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__INDEX__/css/base.css" rel="stylesheet">
    <link href="__INDEX__/css/m.css" rel="stylesheet">
    <script src="__INDEX__/js/jquery-1.8.3.min.js"></script>
    <script src="__INDEX__/js/comm.js"></script>
    <!--[if lt IE 9]>
    <script src="__INDEX__/js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<!--top begin-->
{include file='common/header'}
<!--top end-->
<article>
    <!--lbox begin-->
    <div class="lbox">
        <!--banbox begin-->
        <div class="banbox">
            <div class="banner">
                <div id="banner" class="fader">
                    {volist name="banner" id="vo"}
                    <li class="slide"><a href="{$vo.url}" target="_blank" title="{$vo.title}"><img
                            src="/public/{$vo.pic}"></a></li>
                    {/volist}
                    <div class="fader_controls">
                        <div class="page prev" data-target="prev"></div>
                        <div class="page next" data-target="next"></div>
                        <ul class="pager_list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--banbox end-->
        <!--headline begin-->
        <div class="headline">
            <ul>
                {volist name="tuijianData" id="vo" offset='0' length='2'}
                <li><a href="/article/{$vo.id}.html" title="{$vo.title}"><img
                        src="{if($vo.pic[0])}/public/{$vo.pic[0]}{else/}__INDEX__/picture/noimg.jpg{/if}"
                        alt="{$vo.title}"><span>{$vo.title}</span></a></li>
                {/volist}
            </ul>
        </div>
        <!--headline end-->
        <div class="clearblank"></div>
        <div class="tab_box whitebg">

            <div class="tab_buttons">
                <ul>
                    {volist name="six_cates" id="vo"}
                    <li>{$vo.name}</li>
                    {/volist}
                </ul>
            </div>
            <div class="newstab">

                {volist name="six_cates" id="vo"}

                <div class="newsitem">
                    <div class="newspic">
                        <ul>
                            {volist name='vo.arts' id='ao' offset='0' length='2'}
                            <li><a href="/article/{$ao.id}.html"><img
                                    src="{if($ao.pic[0])}/public/{$ao.pic[0]}{else/}__INDEX__/picture/noimg.jpg{/if}"><span>{$ao.title}</span></a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    <ul class="newslist">
                        {volist name='vo.arts' id='ao' offset='3'}
                        <li><i></i><a href="/article/{$ao.id}.html" title="{$ao.title}">{$ao.title}</a>
                            <p>{$ao.remark}</p></li>
                        {/volist}

                    </ul>
                </div>
                {/volist}

            </div>


        </div>

        <!--tab_box end-->
        <div class="zhuanti whitebg">
            <h2 class="htitle">
              <span class="hnav">
                  {volist name='indexTagsData' id='vo'}
                <a href="/search.html?keywords={$vo.tname}" target="_blank">{$vo.tname}</a> &nbsp;
                  {/volist}
            </span>特别推荐</h2>
            <ul>
                {volist name="tuijianData" id="vo" offset='2' length='8'}
                <li><i class="ztpic"><a href="/article/{$vo.id}.html" target="_blank"><img
                        src="{if($vo.pic[0])}/public/{$vo.pic[0]}{else/}__INDEX__/picture/noimg.jpg{/if}"></a></i>
                    <b>{$vo.title}</b><span>{$vo.remark}</span><a href="/article/{$vo.id}.html" target="_blank"
                                                                                class="readmore">文章阅读</a></li>
                {/volist}
            </ul>
        </div>
        <div class="ad whitebg"><a href='{$banner.0.url}' target=_blank>
            <img src='/public/{$banner.0.pic}'></a></div>
        <div class="whitebg bloglist">
            <h2 class="htitle">最新博文</h2>
            <ul>

                {volist name="articles" id="vo"}
                <li>
                    <h3 class="blogtitle">{if $vo.istop}<b>【顶】</b>{/if}{if $vo.istuijian}<b style="color: blue">【荐】</b>{/if}<a href="/article/{$vo.id}.html" target="_blank">{$vo.title}</a></h3>
                    {if($vo.pic[0])}
                    <span class="blogpic imgscale">
                        <i><a href="/category/{$vo.cid}.html" target="_blank">{$vo.cname}</a></i>
                        <a href="/article/{$vo.id}.html" title="{$vo.title}">
                            <img src="{if($vo.pic[0])}/public/{$vo.pic[0]}{else/}__INDEX__/picture/noimg.jpg{/if}" alt="{$vo.title}">
                        </a>
                    </span>
                    {/if}
                    <p class="blogtext">{$vo.remark} </p>
                    <p class="bloginfo">
                        <!--<i class="avatar"><script src="__INDEX__/js/thea6.js"></script></i><span></span>-->
                        <span>{:date('Y-m-d',$vo.addtime)}</span><span>【<a href="/category/{$vo.cid}.html" target="_blank">{$vo.cname}</a>】</span></p>
                    <a href="/article/{$vo.id}.html" class="viewmore">阅读更多</a></li>
                {/volist}
                <!--pagelist-->
                <div class="pagelist">
                    {$articles->render()}
                </div>
                <!--pagelist end-->
            </ul>
        </div>
        <!--bloglist end-->
    </div>
    <div class="rbox">
        {include file='common/right'}
    </div>
</article>
<footer>
    {include file='common/footer'}
</footer>
</body>
</html>