<!doctype html>
<html>
<head>
<meta charset="utf-8">
    {include file="common/tdk"}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__INDEX__/css/base.css" rel="stylesheet">
    <link href="__INDEX__/css/m.css" rel="stylesheet">
    <link href="__INDEX__/css/bootstrap.css" rel="stylesheet">
    <script src="__INDEX__/js/jquery-1.8.3.min.js" ></script>
    <script src="__INDEX__/js/comm.js"></script>
    <!--[if lt IE 9]>
    <script src="__INDEX__/js/modernizr.js"></script>
<![endif]-->
<script type="text/javascript" src="__INDEX__/js/ajax.js"></script>
</head>
<body>
<!--top begin-->
{include file='common/header'}
<!--top end-->
<article> 
  <!--lbox begin-->
  <div class="lbox">
    <div class="content_box whitebg">
      <h2 class="htitle">
          <span class="con_nav">您现在的位置是：
          <a href="/">首页</a>
              {volist name="position" id="vo"}
              &nbsp;>&nbsp;<a href="/category/{$vo.id}.html"><span class="c-gray">{$vo.name}</span></a>
              {/volist}
          </span>
      </h2>
      <h1 class="con_tilte">{$articleData.title}</h1>
      <p class="bloginfo"><i class="avatar"><img src="__INDEX__/picture/avatar.jpg"></i><span>{$articleData.author}</span><span>{:date('Y-m-d',$articleData.addtime)}</span><span><a href="/category/{$articleData.cid}.html">【{$articleData.cname}】</a></span><span><script src="__INDEX__/js/8c859ecd482d4824ba4c9472a38319f9.js"></script>{$articleData.click}人已围观</span></p>
      <p class="con_info"><b>简介</b>{$articleData.remark}</p>
      <div class="con_text">
          {$articleData.content}


          {if $articleData.sourceurl}
          <p class="share"><b>文章来源：{$articleData.source}</b><a href="{$articleData.sourceurl}" >{$articleData.sourceurl}</a></p>
          {/if}
          <p>Tags：{volist name="keyData" id="vo"}<a href="/search/tags/{$vo.id}.html">{$vo.tname}</a> &nbsp; {/volist}</p>

        <p>
            <span class="diggit">
                <a href="javascript:;" onclick="articlelike({$articleData.id})">
                    很赞哦！
                </a>

                (<b id="diggnum">{$articleData.likenum}</b>)

            </span>
            <script type="text/javascript">

                function articlelike($aid) {
                    var aid = $aid;
                    var diggnum = $('#diggnum').val();
                    $.ajax({
                        type: "post",
                        url: '/index/article/like',
                        data: {
                            aid:aid
                        },
                        dataType: "json",
                        success: function(result){
                            var data = result;
                            if(data.code==201){
                                $('#diggnum').html(diggnum+1);
                                return false;
                            }else{
                                return false;
                            }
                        }
                    });
                }
            </script>
        </p>
        <div class="nextinfo">
            {if condition="$front"}
            <p>上一篇：<a href="/article/{$front.id}.html">{$front['title']}</a></p>
            {else/}
            <p>已经是第一篇</p>
            {/if}

            {if condition="$after"}
            <p>下一篇：<a href="/article/{$after.id}.html">{$after['title']}</a></p>
            {else/}
            <p>已经是最后一篇</p>
            {/if}
        </div>
      </div>
    </div>
    <div class="whitebg">
      <h2 class="htitle">相关文章</h2>
      <ul class="otherlink">

          {volist name='xiangguanData' id='vo'}
          <li><a href="/article/{$vo.id}.html" title="{$vo.title}" >{$vo.title}</a></li>
          {/volist}
      </ul>
    </div>
    <div class="whitebg">
      <h2 class="htitle">随便看看</h2>
      <ul class="xiangsi">
          {volist name='suijiData' id='vo'}
        <li><a href="/article/{$vo.id}.html" ><i><img src="{if($vo.pic[0])}/public/{$vo.pic[0]}{else/}__INDEX__/picture/noimg.jpg{/if}"></i>
          <p>{$vo.title}</p>
          <span>{$vo.remark}</span></a></li>
          {/volist}
     </ul>
    </div>

<div class="whitebg gbook">
      <h2 class="htitle">文章评论</h2>
      <ul>
<!--<script src="__INDEX__/js/567fecbc7ea64816bceeba99d599b530.js"></script>-->
          {volist name="comment" id="vo"}
          <div class="fb">
              <ul><p class="fbtime"><span>{$vo.create_time|date="Y-m-d H:i:s",###}<a href="#plpost" onclick="commentsid({$vo.id})" style="font-size:12px;display: block;background: #040404;color: #fff;border: 0;line-height: 20px;padding: 0 5px;margin-left:5px;border-radius: 5px;float: right;"> 回复 </a></span> {$vo.answerer}</p>
                      <p id="comments_{$vo.id}" class="fbinfo">{$vo.content}</p>
                  {if $vo.com_reply}
                  {volist name='vo.com_reply' id="co" }
                  <p></p>
                  <div class="ecomment">
                      <span class="ecommentauthor">{$co.from_user}回复{$co.to_user}：<span class="ecommentauthor" style="float: right;font-size: 12px">{$co.create_time|date="Y-m-d H:i:s",###} <a href="#plpost" onclick="comments_reply_id({$co.id})" style="font-size:12px;display: block;background: #040404;color: #fff;border: 0;line-height: 20px;padding: 0 5px;margin-left:5px;border-radius: 5px;float: right;"> 回复 </a></span></span>
                      <p id="comments_reply_{$vo.id}" class="ecommenttext"> {$co.content}</p>
                  </div>
                  {if $co.reply_coments}
                  {$co.reply_coments}
                  {/if}
                  {/volist}
                  {/if}

                  <p></p>
              </ul>
          </div>
          {/volist}
<script>
          function CheckPl(obj)
          {

              if(obj.uname.value=="")
              {
                  alert("请输入用户名");
                  obj.uname.focus();
                  return false;
              }
              if(obj.email.value=="")
              {
                  alert("请输入邮箱");
                  obj.email.focus();
                  return false;
              }else{
                  var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"); //正则表达式
                  var email = document.getElementById("email"); //要验证的对象
                  if(!reg.test(email.value)){ //正则验证不通过，格式不对
                      alert("请输入正确邮箱格式!");
                      return false;
                  }
              }
              if(obj.code.value=="")
              {
                  alert("请输入验证码");
                  obj.code.focus();
                  return false;
              }
              if(obj.content.value=="")
              {
              alert("您没什么话要说吗？");
              obj.content.focus();
              return false;
              }
              return true;
              }
          </script>

          <form class="form-horizontal"  action="/index/comments/reply.html" method="post"  onsubmit="return CheckPl(document.saypl)">
              <div id="plpost">
                  <p class="saying"><span><a href="javascript:;">共有{$articleData.reply_num}条回复</a></span></p>
                  <h1 id='com_note' class="lead">来个评论吧！</h1>
                  <input name="aid" type="hidden" id="aid" value="{$articleData.id}" />
                  <input name="comments_id" type="hidden" id="comments_id" value="" />
                  <input name="comments_reply_id" type="hidden" id="comments_reply_id" value="" />
                  <input type="hidden" name="ecmsfrom" value="/article/{$articleData.id}.html">
              <div class="form-group">
                  <label for="exampleInputName2" class="col-sm-2 control-label">用户名</label>
                  <div class="col-sm-4">
                      <input name="uname" type="text" class="form-control"  id="uname"  placeholder="请输入用户名"  required="required">
                  </div>
              </div>
              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
                  <div class="col-sm-4">
                      <input  name="email" type="email" class="form-control" id="email" placeholder="Email"  required="required">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">验证码</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" name="code" placeholder="请输入验证码" required="required">
                  </div>
                  <img src="/captcha?rand="+Math.random() align="absmiddle" id="plKeyImg" onclick="this.src='{:captcha_src()}?'+Math.random();" title="看不清楚,点击刷新" style="height: 40px;cursor:pointer;"/>
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label">说点什么</label>
                  <div class="col-sm-10">
                      <textarea name="content"  id="saytext" class="form-control" rows="3"></textarea>
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">提交</button>
                  </div>
              </div>
              </div>
          </form>
      </ul>
    </div>
  </div>
  <!--lbox end-->
  <div class="rbox">
      {include file='common/right'}
  </div>
</article>
<footer>
    {include file='common/footer'}
</footer>
<script src="__INDEX__/js/6e4a14d390e540658ab43ca290e97a4a.js"></script></body>

<script>
    function commentsid($id) {
        var id = $id;
        if(id){
            var a = $('#comments_'+id).html();
            document.getElementById('comments_reply_id').value='';
            $('#comments_id').val(id);
            $('#com_note').html();
            $('#com_note').html('将要回复：'+a);
            return false;
        }
    }
    function comments_reply_id($id) {
        var id = $id;
        if(id){
            var a = $('#comments_reply_'+id).html();
            document.getElementById('comments_id').value='';
            $('#comments_reply_id').val(id);
            $('#com_note').html();
            $('#com_note').html('将要回复：'+a);
            return false;

        }
    }
</script>


</html>
