<!doctype html>
<html>
<head>
<meta charset="utf-8">
  {include file="common/tdk"}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="__INDEX__/css/base.css" rel="stylesheet">
  <link href="__INDEX__/css/m.css" rel="stylesheet">
  <script src="__INDEX__/js/jquery-1.8.3.min.js" ></script>
  <script src="__INDEX__/js/comm.js"></script>
  <!--[if lt IE 9]>
  <script src="__INDEX__/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<!--top begin-->
<!--top begin-->
{include file='common/header'}
<!--top end-->
<article> 
  <!--lbox begin-->
  <div class="lbox">

    <div class="whitebg bloglist">
      <h2 class="htitle">搜索结果</h2>
      <ul>

        {volist name="articles" id="vo"}
        <li>
          <h3 class="blogtitle">{if $vo.istop}<b>【顶】</b>{/if}{if $vo.istuijian}<b style="color: blue">【荐】</b>{/if}<a href="/article/{$vo.id}.html">{$vo.title}</a></h3>
          {if($vo.pic[0])}
          <span class="blogpic imgscale">
                        <i><a href="/category/{$vo.cid}.html">{$vo.cname}</a></i>
                        <a href="/article/{$vo.id}.html" title="{$vo.title}">
                            <img src="{if($vo.pic[0])}/public/{$vo.pic[0]}{else/}__INDEX__/picture/noimg.jpg{/if}" alt="{$vo.title}">
                        </a>
                    </span>
          {/if}
          <p class="blogtext">{$vo.remark} </p>
          <p class="bloginfo">
            <!--<i class="avatar"><script src="__INDEX__/js/thea6.js"></script></i><span></span>-->
            <span>{:date('Y-m-d',$vo.addtime)}</span><span>【<a href="/category/{$vo.cid}.html">{$vo.cname}</a>】</span></p>
          <a href="/article/{$vo.id}.html" class="viewmore">阅读更多</a></li>
        {/volist}

      </ul>
      <!--pagelist-->
      <div class="pagelist">
        {$articles->render()}
      </div>
      <!--pagelist end-->

    </div>
    <!--bloglist end--> 
  </div>


  <div class="rbox">
    <div class="card">
      <h2>我的名片</h2>
      <p>网名：{$config.contact_name}</p>
      <p>职业：{$config.desc}</p>
      <p>现居：{$config.address}</p>
      <p>Email：{$config.email}</p>
      <ul class="linkmore">
        <!--<li><a href="/" class="iconfont icon-zhuye"></a></li>-->
        <li> <a href="/" title="网站地址"><img src="__INDEX__/picture/host.png" alt="" style="margin: 0 auto;margin-top: 10px;"></a></li>

        <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email={$config.email}" title="我的邮箱"><img src="__INDEX__/picture/email.png" alt="" style="margin: 0 auto;margin-top: 10px;"></a></li>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin={$config.online}&site=qq&menu=yes" title="QQ联系我"><img src="__INDEX__/picture/qq.png" alt="" style="margin: 0 auto;margin-top: 10px;"></a></li>
        <li id="weixin"><a href="#" title="关注我的微信"><img src="__INDEX__/picture/wechat.png" alt="" style="margin: 0 auto;margin-top: 10px;"></a><i><img
                src="/public/uploads/{$config.weixin}"></i></li>
      </ul>
    </div>
    <div class="whitebg cloud">
      <h2 class="htitle">标签云</h2>
      <ul>
        {volist name="tagsData" id="vo"}
        <a href="/search/tags/{$vo.id}.html">{$vo.tname}</a>
        {/volist}
      </ul>
    </div>
    <div class="whitebg notice">
      <h2 class="htitle">热门文章</h2>
      <ul>
        {volist name="hot_articles" id="vo"}
        <li><a href="/article/{$vo.id}.html" title="{$vo.title}">{$vo.title}</a>
        </li>
        {/volist}
      </ul>
    </div>

    <div class="whitebg paihang">
      <h2 class="htitle">点击排行</h2>
      <ul>
        {volist name="click_articles" id="vo"}
        <li><i></i><a href="/article/{$vo.id}.html" title="{$vo.title}">{$vo.title}</a></li>
        {/volist}
      </ul>
    </div>
    <div class="whitebg tuijian">
      <h2 class="htitle">站长推荐</h2>
      <ul>
        {volist name="tuijianData" id="vo"}
        <li><a href="/article/{$vo.id}.html" title="{$vo.title}"><i><img
                src="{if($vo.pic[0])}/public/{$vo.pic[0]}{else/}__INDEX__/picture/noimg.jpg{/if}"></i>
          <p>{$vo.title}</p>
        </a></li>
        {/volist}
      </ul>
    </div>


    <div class="whitebg wenzi">
      <h2 class="htitle">猜你喜欢</h2>
      <ul>
        {volist name="like_articles" id="vo"}
        <li><a href="/article/{$vo.id}.html">{$vo.title}</a></li>
        {/volist}
      </ul>

    </div>
    <!--<div class="whitebg tongji">-->
    <!--<h2 class="htitle">站点信息</h2>-->
    <!--<ul>-->
    <!--<li><b>建站时间</b>：2018-10-24</li>-->
    <!--<li><b>网站程序</b>：帝国CMS7.5</li>-->
    <!--<li><b>主题模板</b>：<a href="http://www.yangqq.com">《今夕何夕》</a></li>-->
    <!--<li><b>文章统计</b>：<a href="/time/">31</a>篇文章</li>-->
    <!--<li><b>标签管理</b>：<a href="/tags.html">标签云</a></li>-->
    <!--<li><b>统计数据</b>：<a href="/">百度统计</a></li>-->
    <!--<li><b>微信公众号</b>：扫描二维码，关注我们</li>-->
    <!--<li class="tongji_gzh"><a href='/' target=_blank><img src="__INDEX__/picture/wxgzh.jpg"></a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="links whitebg">
      <h2 class="htitle">隔壁邻居</h2>
      <ul>
        {volist name="linksData" id="vo"}
        <li><a href="{$vo.url}">{$vo.name}</a></li>
        {/volist}
      </ul>
    </div>
  </div>
</article>
<footer>
  {include file='common/footer'}
</footer>
</body>
</html>
