<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>作为一个设计师,如果遭到质疑你是否能恪守自己的原则? 信息评论</title>
<meta name="keywords" content="作为一个设计师,如果遭到质疑你是否能恪守自己的原则? 信息评论" />
<meta name="description" content="作为一个设计师,如果遭到质疑你是否能恪守自己的原则? 信息评论" />
<style type="text/css">
article { width: 800px; margin: auto }
<!--
body, Table { color: #222; font-size: 12px; }
a { color: #222; text-decoration: none; }
a:hover { color: #f00; text-decoration: underline; }
h1 { font-size: 32px; font-weight: bold; }
h2 { color: #1e3a9e; font-size: 25px; font-weight: bold; }
.you { color: #1f3a87; font-size: 14px; }
.text { font-size: 14px; padding-left: 5px; padding-right: 5px; line-height: 20px }
.re a { color: #1f3a87; }
.name { color: #1f3a87; }
.name a { color: #1f3a87; text-decoration: underline; }
.retext { background-color: #f3f3f3; width: 100%; float: left; padding-top: 22px; padding-bottom: 22px; border-top: 1px solid #ccc; }
.retext textarea { width: 90%; height: 130px; float: left; margin-left: 10px; border-top-style: inset; border-top-width: 2px; border-left-style: inset; border-left-width: 2px; }
.hrLine { BORDER-BOTTOM: #807d76 1px dotted; }
.ecomment { margin: 0; padding: 0; }
.ecomment { margin-bottom: 12px; overflow-x: hidden; overflow-y: hidden; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; padding-top: 3px; background: #FFFFEE; padding: 3px; border: solid 1px #999; }
.ecommentauthor { float: left; color: #F96; font-weight: bold; }
.ecommenttext { clear: left; margin: 0; padding: 0; }
-->
@media only screen and (max-width: 800px) {
article { width: 100% }
}
</style>
<script src="js/ajax_1.js"></script>
</head>

<body topmargin="0">
<article>
  <table width="100%" border="0" align="center" cellpadding="3" cellspacing="1">
    <tr>
      <td><h1>网友评论</h1></td>
      <td><div align="right"><a href="#tosaypl"><strong><font color="#FF0000">我也评两句</font></strong></a></div></td>
    </tr>
  </table>
  <table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#222">
    <tr>
      <td height="2"></td>
    </tr>
  </table>
  <table width="100%" border="0" align="center" cellpadding="3" cellspacing="1">
    <tr>
      <td height="42"><h2>评论：<a href="/xd/23.html" target="_blank"><font color="#1e3a9e">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</font></a></h2></td>
      <td><div align="right"><a href="/xd/23.html" target="_blank">查看原文</a></div></td>
    </tr>
  </table>
  <!--
<hr align="center" width="100%" size=1 class=hrline>
<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#384EA3">
  <form action="../enews/index.php" method="post" name="infopfenform">
    <input type="hidden" name="enews" value="AddInfoPfen" />
    <input type="hidden" name="classid" value="5" />
    <input type="hidden" name="id" value="23" />
    <tr> 
      <td width="50%" height="27" valign="middle"><font color="#FFFFFF">&nbsp;评分: 
        <input type="radio" name="fen" value="1">
        1分 
        <input type="radio" name="fen" value="2">
        2分 
        <input name="fen" type="radio" value="3" checked>
        3分 
        <input type="radio" name="fen" value="4">
        4分 
        <input type="radio" name="fen" value="5">
        5分 
        <input type="submit" name="Submit" value="提交">
        </font></td>
      <td width="50%" valign="middle"><div align="center"><font color="#FFFFFF">平均得分: 
          <strong><span id="pfendiv">0</span></strong> 分，共有 <strong></strong> 
          人参与评分</font></div></td>
    </tr>
  </form>
</table>
-->
  <table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
    <tr>
      <td height="30" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td width="37%">&nbsp;&nbsp;&nbsp;网友评论</td>
            <td width="63%"><div align="right"><a title="总数">&nbsp;<b>35</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/e/pl/index.php?page=1&amp;classid=5&amp;id=23">2</a>&nbsp;<a href="/e/pl/index.php?page=2&amp;classid=5&amp;id=23">3</a>&nbsp;<a href="/e/pl/index.php?page=1&amp;classid=5&amp;id=23">下一页</a>&nbsp;<a href="/e/pl/index.php?page=2&amp;classid=5&amp;id=23">尾页</a>&nbsp;&nbsp;&nbsp;</div></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td bgcolor="#f8fcff"> 

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">lee</span></td>
            <td><div align="right"><font color="#666666">2019-07-05 10:17:04</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">ddddd</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='246';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=246&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv246','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv246">0</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=246&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv246','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv246">0</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">Lee</span></td>
            <td><div align="right"><font color="#666666">2019-07-05 10:15:20</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text"><div class="ecomment">
<span class="ecommentauthor">网友 Lee 的原文：</span>
<p class="ecommenttext">顶顶顶顶</p>
</div>同意</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='245';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=245&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv245','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv245">0</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=245&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv245','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv245">0</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">Lee</span></td>
            <td><div align="right"><font color="#666666">2019-07-05 10:13:55</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">顶顶顶顶</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='244';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=244&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv244','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv244">0</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=244&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv244','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv244">0</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">admin</span></td>
            <td><div align="right"><font color="#666666">2019-07-02 22:42:35</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">123456</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='241';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=241&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv241','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv241">2</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=241&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv241','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv241">1</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">5645646</span></td>
            <td><div align="right"><font color="#666666">2019-07-02 13:01:59</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">123</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='240';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=240&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv240','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv240">2</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=240&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv240','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv240">1</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">风流王子enjoy</span></td>
            <td><div align="right"><font color="#666666">2019-06-20 16:58:12</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">很高兴认识你</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='230';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=230&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv230','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv230">3</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=230&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv230','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv230">2</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">dsf</span></td>
            <td><div align="right"><font color="#666666">2019-06-19 09:44:24</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">bucuo</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='227';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=227&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv227','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv227">3</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=227&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv227','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv227">3</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">anndy</span></td>
            <td><div align="right"><font color="#666666">2019-06-18 15:33:37</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">需要注册吗</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='226';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=226&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv226','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv226">3</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=226&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv226','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv226">2</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">李啸宇</span></td>
            <td><div align="right"><font color="#666666">2019-05-17 18:37:28</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">博主真棒</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='208';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=208&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv208','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv208">7</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=208&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv208','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv208">6</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">admin</span></td>
            <td><div align="right"><font color="#666666">2019-05-02 10:14:35</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">嗯嗯嗯</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='189';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=189&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv189','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv189">12</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=189&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv189','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv189">8</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">123</span></td>
            <td><div align="right"><font color="#666666">2019-04-24 16:06:40</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">qwe</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='177';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=177&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv177','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv177">12</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=177&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv177','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv177">9</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <table width="96%" border="0" align="center" cellpadding="3" cellspacing="1" style="word-break:break-all; word-wrap:break-all;">
          <tr>
            <td height="30"><span class="name">xx</span></td>
            <td><div align="right"><font color="#666666">2019-04-10 09:29:32</font></div></td>
          </tr>
          <tr valign="top">
            <td height="50" colspan="2" class="text">sadsadasad</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td><div align="right" class="re"><a href="#tosaypl" onclick="javascript:document.saypl.repid.value='161';document.saypl.saytext.focus();">回复</a>&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=161&classid=5&id=23&dopl=1&doajax=1&ajaxarea=zcpldiv161','EchoReturnedText','GET','');">支持</a>[<span id="zcpldiv161">14</span>]&nbsp; <a href="JavaScript:makeRequest('../pl/doaction.php?enews=DoForPl&plid=161&classid=5&id=23&dopl=0&doajax=1&ajaxarea=fdpldiv161','EchoReturnedText','GET','');">反对</a>[<span id="fdpldiv161">9</span>] </div></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr>
            <td background="images/plhrbg.gif"></td>
          </tr>
        </table>
        

        <div align="right"><br />
          <a title="总数">&nbsp;<b>35</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/e/pl/index.php?page=1&amp;classid=5&amp;id=23">2</a>&nbsp;<a href="/e/pl/index.php?page=2&amp;classid=5&amp;id=23">3</a>&nbsp;<a href="/e/pl/index.php?page=1&amp;classid=5&amp;id=23">下一页</a>&nbsp;<a href="/e/pl/index.php?page=2&amp;classid=5&amp;id=23">尾页</a>&nbsp;&nbsp;&nbsp;<br />
          <br />
          <font color="#FF0000">网友评论仅供网友表达个人看法，并不表明本站同意其观点或证实其描述&nbsp;&nbsp;&nbsp;</font><br>
          <br>
        </div></td>
    </tr>
    <script>
  function CheckPl(obj)
  {
      if(obj.saytext.value=="")
      {
          alert("错误，评论不能为空");
          obj.saytext.focus();
          return false;
      }
      return true;
  }
  </script>
    <form action="../pl/doaction.php" method="post" name="saypl" id="saypl" onsubmit="return CheckPl(document.saypl)">
      <tr id="tosaypl">
        <td bgcolor="#f8fcff"><table width="100%" border="0" cellspacing="1" cellpadding="3">
            <tr>
              <td valign="middle">用户名：
                <input name="username" type="text" id="username" size="12" value="" />
                
                <!--密码： 
            <input name="password" type="password" id="password" size="12" value="" />--></td>
            </tr>
            <tr>
              <td> 验证码：
                <input name="key" type="text" id="key" size="6" />
                <img src="picture/b1be5e9044a040c7894db2bb6b392c4c.gif" align="middle" name="plKeyImg" id="plKeyImg" onclick="plKeyImg.src='/e/ShowKey/?v=pl&t='+Math.random()" title="看不清楚,点击刷新" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
          </table></td>
      </tr>
      <tr>
        <td bgcolor="#f8fcff"><table width="100%" border="0" cellspacing="1" cellpadding="3" class="retext">
            <tr>
              <td width="78%"><div align="center">
                  <textarea name="saytext" cols="58" rows="6" id="saytext"></textarea>
                </div></td>
              <td width="22%" rowspan="2"><div align="center">
                  <input name="nomember" type="checkbox" id="nomember" value="1" checked="checked" />
                  匿名发表<br>
                  <br />
                  <input name="imageField" type="submit" id="imageField" value=" 提 交 " />
                </div></td>
            </tr>
            <tr>
              <td><div align="center"> 
                  <script src="js/plface.js"></script> 
                </div></td>
            </tr>
          </table></td>
      </tr>
      <input name="id" type="hidden" id="id" value="23" />
      <input name="classid" type="hidden" id="classid" value="5" />
      <input name="enews" type="hidden" id="enews" value="AddPl" />
      <input name="repid" type="hidden" id="repid" value="0" />
    </form>
  </table>
</article>
</body>
</html>